body {
  padding-top: 54px;
}

.img-project-thumbnail {
    max-height: 142px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    background: #fff;
    border-radius: 0.275rem;
    transition: all 0.3s ease;
}

.img-project-thumbnail:hover {
    box-shadow: 5px 5px 5px 0 rgba(46,61,73,0.2);
}

.logo-thumbnail {
    max-height: 30px;
    max-width: 30px;
}

hr { 
    border-width: 3px;
    border-color: black;
} 

small {
    font-size: 50%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}